<ion-content>

<ion-grid class="ion-padding ion-margin">
  <ion-row size="12" size-md="4" offset-md="4">
    <ion-col size="12" size-md="4" offset-md="4">
      <p class="title ion-text-center ion-padding-top">Select</p>
      <p class="subtitle_title ion-text-center">Team</p>
    </ion-col>
  </ion-row>

  <ion-row class=" ion-padding-top ion-margin-top">
    <ion-col size="12" size-md="4" offset-md="4">
      <ion-button expand="block" color="tertiary" class="team_button" fill="outline" (click)="presentAddTeamModal()">+ Add Team</ion-button>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="teams.length === 0"> <!-- Ha 0 a hossza(nincs benne az elem) akkor szöveg -->
    <ion-col size="12" size-md="4" offset-md="4" class="ion-text-center">
      <ion-text color="light">You don't have team yet. Please add a team and start the coaching!</ion-text>
        <ion-skeleton-text animated style="width: 100%; border-radius: 30px;" class="ion-margin-top ion-padding"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 100%; border-radius: 30px;" class="ion-margin-top ion-padding"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 100%; border-radius: 30px;" class="ion-margin-top ion-padding"></ion-skeleton-text>

    </ion-col>
  </ion-row>

  <ion-row *ngFor="let item of teams">
    <ion-col size="12" size-md="4" offset-md="4">
      <ion-button expand="block" color="tertiary" class="team_button" (click)="selectTeam(item)" [routerLink]="['/home/' , item.id ]" >{{ item.data.name}}</ion-button> <!-- Jó helyre irányítson minket! fontos paramMap home routing module -->
    </ion-col>
  </ion-row>

  <ion-row class=" ion-padding-top ion-margin-top">
    <ion-col size="12" size-md="4" offset-md="4">
      <ion-button expand="block" color="danger" class="team_button" (click)="onLogout()">Logout</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>

</ion-content>
