@import '../../../../theme/variables.scss';

ion-toolbar, ion-content{
  --background: #22333B;
  color: $light;
}

ion-grid{
  margin: 0;
  padding: 0;
}

.profile-picture{
  border-radius: 50%;
  height: 100px;
  width: 100px;
  object-fit: cover;
}

.main-data{
  background-color: #22333B;
  margin:0;
  padding:10px 0 30px 0;
}

.sub-data{
  background-color: $light;
  border-radius: 10px 10px 0 0;
  height: 100%;
}

.name{
  font-family: $secondary-font;
  text-align: center;
  color: $light;
}
.age{
  font-family: $secondary-font;
  font-size: 14px;
  text-align: center;
  color: $light;
}

.progress-bar{
  padding:3px 0;
  border-radius: 10px;
}

.subposition{
  display: block;
}

.line{
  border-top: 1px solid $primary;
}

.note{
  display: block;
  text-align:justify ;
}

.container__input-div{
  margin: 20px 20px;
  color: $light;

  ion-input{
    background-color: $light;
    color: black;
    --padding-start: 5px;
    --padding-end: 5px;
  }

  ion-select{
    background-color: $light;
    color: black;
    border: 1px solid $light;
    border-radius: 5px;
    padding: 5px 5px;
    margin-top: 3px;
  }
}

.container__toggle-div{
  display:flex !important;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding:10px 20px;
  color: $light;
}

ion-range{
  padding-top:5px;
  --bar-height: 5px;
  --bar-background: #ffffff4f;
  --knob-size: 18px;
  --knob-box-shadow: 0px 0px 0px 3px #fff;
  --knob-color: #ffffff;
}
