<ion-header>
  <ion-toolbar>
    <ion-icon name="arrow-back-outline" class="ion-padding-horizontal" size="large" color="light" slot="start" (click)="onCancel()"></ion-icon>
    <ion-buttons slot="end">
      <ion-icon name="create-outline" class="ion-padding-horizontal" size="large" color="light" (click)="editData()"></ion-icon>
      <ion-icon name="trash-outline" class="ion-padding-horizontal" size="large" color="light" (click)="presentAlert()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="playerData && !edit">
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center ion-padding-top ion-margin-top">
        <img [src]="playerData.data.profilePicture == '' ?  'https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_1280.png' : playerData.data.profilePicture " class="profile-picture" />
      </ion-col>
    </ion-row>
    <ion-row class="main-data">
      <ion-col>
        <h1 class="name">{{ playerData.data.firstname }} {{ playerData.data.lastname }}</h1>
        <h2 class="age">{{ playerData.data.age }} éves</h2>
      </ion-col>
    </ion-row>

    <ion-row class="sub-data">
      <ion-col>
        <ion-card class="ion-padding">
          <ion-row>
            <ion-col size="4">Fő pozíció:</ion-col>
            <ion-col size="8" class="ion-text-right">{{ playerData.data.mainPosition | position }}</ion-col>
          </ion-row>
          <hr class="line">
          <ion-row>
            <ion-col size="4">Mellék pozíció:</ion-col>
            <ion-col size="8" class="ion-text-right" >
              <ion-text class="subposition" *ngFor="let item of playerData.data.subPosition"> {{ item | position}}</ion-text>
            </ion-col>
          </ion-row>
        </ion-card>

        <ion-card class="ion-padding">
          <ion-row>
            <ion-col>Sérült:</ion-col>
            <ion-col class="ion-text-right">{{ playerData.data.isInjured | injured}}</ion-col>
          </ion-row>
        </ion-card>

        <ion-card class="ion-padding">
          <ion-row>
            <ion-col>Magasság:</ion-col>
            <ion-col class="ion-text-right">{{ playerData.data.height }} cm</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>Súly:</ion-col>
            <ion-col class="ion-text-right">{{ playerData.data.weight }} kg</ion-col>
          </ion-row>
        </ion-card>

        <ion-card class="ion-padding">
          <ion-row>
            <ion-col>
              <ion-text class="ion-margin-bottom">Gyorsaság: {{ playerData.data.speed }}/10</ion-text>
              <ion-progress-bar class="ion-margin-top progress-bar" [value]="playerData.data.speed/10"></ion-progress-bar>
            </ion-col>
          </ion-row>
        </ion-card>

        <ion-card class="ion-padding">
          <ion-row>
            <ion-col>
              <ion-text class="ion-margin-bottom">Kreativitás: {{ playerData.data.creativity }}/10</ion-text>
              <ion-progress-bar class="ion-margin-top progress-bar" [value]="playerData.data.creativity/10"></ion-progress-bar>
            </ion-col>
          </ion-row>
        </ion-card>

        <ion-card class="ion-padding">
          <ion-row>
            <ion-col>
              <ion-text class="ion-margin-bottom">Állóképesség: {{ playerData.data.stamina }}/10</ion-text>
              <ion-progress-bar class="ion-margin-top progress-bar" [value]="playerData.data.stamina/10"></ion-progress-bar>
            </ion-col>
          </ion-row>
        </ion-card>

        <ion-card class="ion-padding">
          <ion-row>
            <ion-col>
              <ion-text class="ion-margin-bottom">Jegyzet:</ion-text>
              <ion-text color="primary note">{{ playerData.data.note }}</ion-text>
            </ion-col>
          </ion-row>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-content *ngIf="edit" [formGroup]="addPlayerForm">
  <div class="container__input-div">
    <ion-label>Új Kép:</ion-label>
    <ion-input type="file" (change)="uploadImg($event)"></ion-input>
  </div>

  <div class="container__input-div">
    <ion-label>Keresztnév:</ion-label>
    <ion-input formControlName="firstname"></ion-input>
  </div>

  <div class="container__input-div">
    <ion-label>Vezetéknév:</ion-label>
    <ion-input formControlName="lastname"></ion-input>
  </div>

  <div class="container__input-div">
    <ion-label>Kor:</ion-label>
    <ion-input formControlName="age" type="number"></ion-input>
  </div>

  <div class="container__input-div">
    <ion-label>Magasság:</ion-label>
    <ion-input formControlName="height" type="number"></ion-input>
  </div>

  <div class="container__input-div">
    <ion-label>Súly:</ion-label>
    <ion-input formControlName="weight" type="number"></ion-input>
  </div>

  <div class="container__input-div">
    <ion-label>Fő pozíció:</ion-label>
    <ion-select placeholder="Select One" formControlName="mainPosition" class="ion-no-padding">
      <ion-select-option value="gk">Kapus</ion-select-option>
        <ion-select-option value="rb">Jobb védő</ion-select-option>
        <ion-select-option value="cb">Középső védő</ion-select-option>
        <ion-select-option value="lb">Bal védő</ion-select-option>
        <ion-select-option value="rwb">Jobb szélső védő</ion-select-option>
        <ion-select-option value="lwb">Bal szélső védő</ion-select-option>
        <ion-select-option value="cdm">Védekező középpályás</ion-select-option>
        <ion-select-option value="cm">Középső középpályás</ion-select-option>
        <ion-select-option value="cam">Támadó középpályás</ion-select-option>
        <ion-select-option value="rm">Jobb oldali középpályás</ion-select-option>
        <ion-select-option value="lm">Bal oldali középpályás</ion-select-option>
        <ion-select-option value="rw">Jobb szélső támadó</ion-select-option>
        <ion-select-option value="lw">Bal szélső támadó</ion-select-option>
        <ion-select-option value="cf">Középső csatár</ion-select-option>
        <ion-select-option value="st">Csatár</ion-select-option>
    </ion-select>
  </div>

  <div class="container__input-div">
    <ion-label>Mellék pozíció:</ion-label>
    <ion-select placeholder="Select One" multiple="true" formControlName="subPosition" class="ion-no-padding" interface="alert">
      <ion-select-option value="gk">Kapus</ion-select-option>
        <ion-select-option value="rb">Jobb védő</ion-select-option>
        <ion-select-option value="cb">Középső védő</ion-select-option>
        <ion-select-option value="lb">Bal védő</ion-select-option>
        <ion-select-option value="rwb">Jobb szélső védő</ion-select-option>
        <ion-select-option value="lwb">Bal szélső védő</ion-select-option>
        <ion-select-option value="cdm">Védekező középpályás</ion-select-option>
        <ion-select-option value="cm">Középső középpályás</ion-select-option>
        <ion-select-option value="cam">Támadó középpályás</ion-select-option>
        <ion-select-option value="rm">Jobb oldali középpályás</ion-select-option>
        <ion-select-option value="lm">Bal oldali középpályás</ion-select-option>
        <ion-select-option value="rw">Jobb szélső támadó</ion-select-option>
        <ion-select-option value="lw">Bal szélső támadó</ion-select-option>
        <ion-select-option value="cf">Középső csatár</ion-select-option>
        <ion-select-option value="st">Csatár</ion-select-option>
    </ion-select>
  </div>

  <div class="container__toggle-div">
    <ion-label>Sérülés:</ion-label>
    <ion-toggle formControlName="isInjured" color="secondary"></ion-toggle>
  </div>

  <div class="container__input-div">
    <ion-label>Gyorsaság:</ion-label>
    <ion-range min="0" max="10" color="light" step="1" snaps="true" size="large" pin="true" formControlName="speed" class="range-item">
      <ion-label slot="start">0</ion-label>
      <ion-label slot="end">10</ion-label>
    </ion-range>

  </div>

  <div class="container__input-div">
    <ion-label>Állóképesség:</ion-label>
    <ion-range min="0" max="10" color="light" step="1" snaps="true" size="large" pin="true" formControlName="stamina" class="range-item">
      <ion-label slot="start">0</ion-label>
      <ion-label slot="end">10</ion-label>
    </ion-range>
  </div>

  <div class="container__input-div">
    <ion-label>Kreativitás:</ion-label>
    <ion-range min="0" max="10" color="light" step="1" snaps="true" size="large" pin="true" formControlName="creativity" class="range-item">
      <ion-label slot="start">0</ion-label>
      <ion-label slot="end">10</ion-label>
    </ion-range>
  </div>

  <div class="container__input-div">
    <ion-label>Jegyzet:</ion-label>
    <ion-textarea formControlName="note" rows="7"></ion-textarea>
  </div>

  <ion-button (click)="updateData()" expand="block" class="ion-margin-bottom">Játékos szerkesztés</ion-button>
</ion-content>

<ion-content *ngIf="!playerData">
  <ion-skeleton-text animated style="width: 100%; border-radius: 30px;" class="ion-margin-top ion-padding"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 100%; border-radius: 30px;" class="ion-margin-top ion-padding"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 100%; border-radius: 30px;" class="ion-margin-top ion-padding"></ion-skeleton-text>
</ion-content>

