// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/

$primary:#5B9279;
$secondary: #8FCB9B;
$tertiary: #8F8073;
$success: #2dd36f;
$warning: #ffc409;
$danger: #eb445a;
$dark: #12130F;
$light: #EAE6E5;

$primary-font:'Poppins', sans-serif;
$secondary-font: 'Lexend Peta', sans-serif;



:root {
  --ion-color-primary: #5B9279;
  --ion-color-primary-rgb: 91,146,121;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #50806a;
  --ion-color-primary-tint: #6b9d86;

  --ion-color-secondary: #8FCB9B;
  --ion-color-secondary-rgb: 143,203,155;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #7eb388;
  --ion-color-secondary-tint: #9ad0a5;

  --ion-color-tertiary: #8F8073;
  --ion-color-tertiary-rgb: 143,128,115;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 0,0,0;
  --ion-color-tertiary-shade: #7e7165;
  --ion-color-tertiary-tint: #9a8d81;

  --ion-color-success: #31c46c;
  --ion-color-success-rgb: 49,196,108;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 0,0,0;
  --ion-color-success-shade: #2bac5f;
  --ion-color-success-tint: #46ca7b;

  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255,196,9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  --ion-color-danger: #fe3953;
  --ion-color-danger-rgb: 254,57,83;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #e03249;
  --ion-color-danger-tint: #fe4d64;

  --ion-color-dark: #12130F;
  --ion-color-dark-rgb: 18,19,15;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #10110d;
  --ion-color-dark-tint: #2a2b27;

  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146,148,156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  --ion-color-light: #EAE6E5;
  --ion-color-light-rgb: 234,230,229;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #cecaca;
  --ion-color-light-tint: #ece9e8;
}
