@import '../theme/variables.scss';

.logout{
  position: fixed;
  bottom:10%;
  width: 100%;
  height: auto;

  ion-button{
    width: 100%;

  }
}

.sidemenu{

  ion-list{
    padding:0;
  }

  ion-item{
    --background: #8F8073;
    --padding-top:0;
  }
}

.email{
  font-size: 13px;
}
