<ion-app>

  <ion-menu side="end" contentId="main" type="overlay">

    <ion-header >
      <ion-toolbar color="light">
        <ion-avatar slot="start" class="ion-padding">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
        <ion-text class="email">{{ email }}</ion-text>
        <ion-buttons slot="end">
          <ion-menu-toggle>
            <ion-button>
              <ion-icon name="close-outline" slot="icon-only"></ion-icon>
            </ion-button>
          </ion-menu-toggle>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>

        <ion-menu-toggle>
          <ion-item routerLink="/login" lines="none">
            <ion-label>Login</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>

        <ion-list class="logout">
          <ion-menu-toggle >
            <ion-item routerLink="/select-team" lines="none" >
              <ion-button expand="block" color="tertiary" fill="outline" size="medium">Switch Team</ion-button>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle >
            <ion-item routerLink="/login" lines="none" >
              <ion-button expand="block" color="danger" fill="outline" size="medium">Logout</ion-button>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>





    </ion-content>


  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
