<ion-content class="forgotten-pass-container">
  <ion-grid>

    <ion-row class="row">
      <ion-col class="ion-text-center ion-padding-bottom ion-margin-bottom">
        <ion-title>Új jelszó</ion-title>
      </ion-col>
    </ion-row>

    <ion-row class="row">
      <ion-col class="ion-text-center">
        <ion-text>Adja meg email címét és küldünk Önnek egy emailt, melyben egy linken keresztül új jelszót adhat meg profiljának.</ion-text>
      </ion-col>
    </ion-row>

    <ion-row class="row">
      <ion-col>
        <ion-input class="input" expand="block" #forgottenPasswordValue></ion-input>
      </ion-col>
    </ion-row>

    <ion-row class="row">
      <ion-col>
        <ion-button expand="block" (click)="passwordReset()">Új jelszót kérek</ion-button>
      </ion-col>
    </ion-row>

    <ion-row class="row">
      <ion-col class="ion-text-center">
        <ion-text class="cancel" (click)="onCancel()">Mégse</ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
