<ion-header>
  <ion-toolbar>
    <ion-buttons color="primary" slot="start">
      <ion-back-button color="light" defaultHref="login"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Regisztráció</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-padding ion-margin" [formGroup]="registerForm">
    <ion-row>
      <ion-col size="12" size-lg="4" offset-lg="4">
        <p class="title ion-text-center ion-padding-vertical">CoachApp</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-lg="4" offset-lg="4">

        <ion-label position="stacked" color="light" class="ion-padding-bottom" >Keresztnév</ion-label>
        <ion-input color="dark" formControlName="firstname"></ion-input>
        <ion-text class="error-message" color="danger" *ngIf="registerForm.get('firstname').touched && registerForm.get('firstname').hasError('required')">Kötelező mező!</ion-text>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" size-lg="4" offset-lg="4">

        <ion-label position="stacked" color="light" class="ion-padding-bottom">Vezetéknév</ion-label>
        <ion-input color="dark" formControlName="lastname"></ion-input>
        <ion-text class="error-message" color="danger" *ngIf="registerForm.get('lastname').touched && registerForm.get('lastname').hasError('required')">Kötelező mező!</ion-text>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" size-lg="4" offset-lg="4">

        <ion-label position="stacked" color="light" class="ion-padding-bottom">Email</ion-label>
        <ion-input color="dark" formControlName="email"></ion-input>
        <ion-text class="error-message" color="danger" *ngIf="registerForm.get('email').touched && registerForm.get('email').hasError('required')">Kötelező mező!</ion-text>
        <ion-text class="error-message" color="danger" *ngIf="registerForm.get('email').touched && registerForm.get('email').hasError('email')">Kötelező formátum: tesuser@test.com</ion-text>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col size="12" size-lg="4" offset-lg="4">

        <ion-label position="stacked" color="light" class="ion-padding-bottom">Jelszó</ion-label>
        <ion-input color="dark" type="password" formControlName="password"></ion-input>
        <ion-text class="error-message" color="danger" *ngIf="registerForm.get('password').touched && registerForm.get('password').hasError('required')">Kötelező mező!</ion-text>
        <ion-text class="error-message" color="danger" *ngIf="registerForm.get('password').touched && registerForm.get('password').hasError('minlength')">A jelszónak minimum 6 karakternek kell lennie!</ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" size-lg="4" offset-lg="4">

        <ion-label position="stacked" color="light" class="ion-padding-bottom" >Jelszó újra</ion-label>
        <ion-input color="dark" type="password" formControlName="passwordAgain"></ion-input>
        <ion-text color="danger" *ngIf="registerForm.get('passwordAgain').touched && registerForm.get('passwordAgain').hasError('required')">Kötelező mező!</ion-text>
        <ion-text color="danger" *ngIf="registerForm.get('passwordAgain').touched && registerForm.get('passwordAgain').hasError('minlength')">A jelszónak minimum 6 karakternek kell lennie!</ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" size-lg="4" offset-lg="4">
       <ion-text color="danger" *ngIf="errorMessage">A jelszavak nem egyeznek!</ion-text>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding-vertical ion-margin-vertical">
      <ion-col size="12" size-lg="4" offset-lg="4">
        <ion-button expand="block" color="tertiary" class="login__button" (click)="onRegister()" [disabled]="registerForm.invalid">Regisztrálok</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
