<ion-header>

  <ion-toolbar color="primary">
    <ion-title color="light">
      Blank
    </ion-title>
    <ion-menu-button color="light" slot="end"></ion-menu-button>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!actualTeam">

</ion-content>

<ion-content>
  <ion-text>{{ actualTeam.name }}</ion-text>
  <ion-text></ion-text>

  <ion-card>
    <ion-card-header color="primary">
      <ion-card-title>Match Results</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <div class="home__card__div">
        <p>Wins</p>
        <p>{{ wins }}</p>
      </div>

      <div class="home__card__div">
        <p>Loses</p>
        <p>{{ lose }}</p>
      </div>

      <div class="home__card__div">
        <p>Draw</p>
        <p>{{ draw }}</p>
      </div>

      <p>Win ratio: {{ wins/(wins + lose + draw) * 100 | number: '1.0-0'}}%</p>
      <ion-progress-bar [value]="wins/(wins + lose + draw)"></ion-progress-bar>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header color="primary">
      <ion-card-title>Goals</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <div class="home__card__div">
        <p>Rúgott gólok:</p>
        <p>{{ ourGoals }}</p>
      </div>

      <div class="home__card__div">
        <p>Kapott gólok:</p>
        <p>{{ opponentGoals }}</p>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>






<ion-menu side="end" contentId="main" type="overlay" class="sidemenu">

  <ion-header>
    <ion-toolbar color="tertiary">
      <ion-avatar slot="start" class="ion-padding">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
      <ion-text class="email"></ion-text>
      <ion-buttons slot="end">
        <ion-menu-toggle>
          <ion-button>
            <ion-icon name="close-outline" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-menu-toggle>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content color="tertiary">
    <ion-list color="tertiary">

      <ion-menu-toggle>
        <ion-item [routerLink]="['/players']" [queryParams]="{id: actualId}" lines="none" detail="false">
          <ion-label color="light">Players</ion-label>
        </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle>
        <ion-item [routerLink]="['/matches']" [queryParams]="{id: actualId}" lines="none" detail="false">
          <ion-label color="light">Matches</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>

      <ion-list class="logout">
        <ion-menu-toggle color="tertiary">
          <ion-item routerLink="/select-team" lines="none" detail="false">
            <ion-button expand="block" color="light" fill="outline" size="medium">Switch Team</ion-button>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle >
          <ion-item routerLink="/login" lines="none" detail="false">
            <ion-button expand="block" color="danger" size="medium">Logout</ion-button>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>







  </ion-content>


</ion-menu>

<ion-router-outlet id="main"></ion-router-outlet>
