@import '../../../theme/variables.scss';



ion-content{
  --background: #22333B;
  color: $light;
}

.home{

  &__card{


    &__div{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}

.sidemenu{

  ion-list{
    padding:0;
  }

  ion-item{
    --background: #8F8073;
    --padding-top:0;
  }
}
