<ion-header>
  <ion-toolbar>
    <ion-title color="light">
      {{ actualTeam.name }}
    </ion-title>
    <ion-icon name="trash" slot="end" size="large" color="light" class="ion-padding-end" (click)="deleteTeam()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" pullFactor="0.5" pullMin="100" pullMax="200">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center ion-padding-vertical ion-margin-vertical" size="12" size-md="4" offset-md="4">
        <ion-text class="home__title">{{ actualTeam.name }}</ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-text-center" size="12" size-md="6" offset-md="3">
        <circle-progress
          [percent]=" wins/(wins + lose + draw) * 100"
          [radius]="100"
          [outerStrokeWidth]="12"
          [innerStrokeWidth]="3"
          [outerStrokeColor]="'#2dd36f'"
          [innerStrokeColor]="'#ffffff'"
          [animation]="true"
          [animationDuration]="500"
          [titleFontSize]="'30'"
          [titleColor]="'#ffffff'"
          [subtitle]="'Győzelmi ráta'"
          [subtitleFontSize]="'20'"
          [unitsColor]="'#ffffff'"
          [unitsFontSize]="'20'"
          ></circle-progress>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-text-center" size-md="2" offset-md="3">
        <div class="home__result__div wins">
          <p>Győzelmek</p>
          <p>{{ wins }}</p>
        </div>
      </ion-col>
      <ion-col class="ion-text-center" size-md="2">
        <div class="home__result__div draws">
          <p>Döntetlenek</p>
          <p>{{ draw }}</p>
        </div>
      </ion-col>
      <ion-col class="ion-text-center" size-md="2">
        <div class="home__result__div loses">
          <p>Vereségek</p>
          <p>{{ lose }}</p>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-no-padding ion-no-margin" size="12" size-md="6" offset-md="3">
        <div class="home__card">
          <p>Rúgott gólok:</p>
          <p>{{ ourGoals }}</p>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-no-padding ion-no-margin" size="12" size-md="6" offset-md="3">
        <div class="home__card">
          <p>Kapott gólok:</p>
          <p>{{ opponentGoals }}</p>
        </div>
      </ion-col>
    </ion-row>

  </ion-grid>


</ion-content>

  <ion-tab-bar slot="bottom" class="tab-bar">
    <ion-tab-button tab="matches" routerLink="/matches" [queryParams]="{id: actualId}">
      <ion-icon name="football-outline"></ion-icon>
      <ion-label>Mérkőzések</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="players" routerLink="/players" [queryParams]="{id: actualId}">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Játékosok</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="select-team" routerLink="/select-team">
      <ion-icon name="enter-outline"></ion-icon>
      <ion-label>Csapat választás</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="login" routerLink="/login" (click)="logout()">
      <ion-icon name="log-out-outline" color="danger"></ion-icon>
      <ion-label color="danger" class="danger">Kijelentkezés</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
