/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import url('https://fonts.googleapis.com/css2?family=Lexend+Peta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import './theme/variables.scss';


*{
  font-family: 'Montserrat', sans-serif;
}

.error-message{
  font-size: 14px;
}

ion-label{
  font-family: $primary-font;
  --padding-bottom:10px;
}

ion-input, ion-textarea, ion-datetime{
  background-color: transparent;
  border: 1px solid $light;
  border-radius: 10px;
  --padding-start:5px;
  --padding-end:5px;
  font-family: $primary-font;
  font-size:14px;
}

.round__button{
  font-size: 18px;
  --border-radius: 50px;
}

.my-custom-class .modal-wrapper{
  max-height: 90vh;
  width: 90%;
  border-radius: 30px;
  position: fixed;
  bottom:-10%;
  background-color: $tertiary;
  overflow-x: hidden;
  overflow-y: hidden;
}
.add-modal .modal-wrapper{
  background-color: $tertiary !important;
}

.team-modal .modal-wrapper{
  max-height: 40vh;
  width: 85%;
  --border-radius: 10px;
  background-color: $tertiary;
}

.alert-wrapper{
  min-width: 90% !important;
}

.basic-loader{
  --background: #5B9279;
  color: white;
  --spinner-color: white;
}

@media screen and (min-width: 776px) {
  .my-custom-class .modal-wrapper{
    width: 50%;
  }
}
