<ion-header>
  <ion-toolbar color="primary">
    <ion-icon name="arrow-back-outline" class="ion-padding-horizontal" size="large" color="light" slot="start" (click)="onCancel()"></ion-icon>
    <ion-buttons slot="end">
      <ion-icon name="create-outline" size="large" color="light" (click)="onEdit()"></ion-icon>
      <ion-icon name="trash-outline" class="ion-padding-horizontal" size="large" color="light" (click)="presentAlert()"></ion-icon>
    </ion-buttons>
    <ion-title *ngIf="matchData">{{ matchData.data.name }}</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content *ngIf="matchData && !edit" class="match">
  <ion-grid >
    <ion-card class="ion-text-center">
      <ion-row>
        <ion-col class="ion-text-right">
          <ion-text class="match__goal">{{ matchData.data.yourGoals }}</ion-text>
        </ion-col>
        <ion-col>
          <ion-text class="match__goal">-</ion-text>
        </ion-col>
        <ion-col class="ion-text-left">
          <ion-text class="match__goal">{{ matchData.data.opponentGoals }}</ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col >
          <ion-text class="match__opponent">VS {{ matchData.data.opponent }}</ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-text class="match__date">{{ matchData.data.date | date: 'YYYY. MM. dd.' }}</ion-text>
        </ion-col>
      </ion-row>
    </ion-card>

    <ion-card class="ion-padding">
      <ion-row>
        <ion-col size="4">Kapusok:</ion-col>
        <ion-col size="8" class="ion-text-right">{{ matchData.data.goalkeeper }}</ion-col>
      </ion-row>
      <hr class="line">
      <ion-row>
        <ion-col size="4">Jobb védők/szélső védők:</ion-col>
        <ion-col size="8" class="ion-text-right" >
          <ion-text class="subposition" *ngFor="let item of matchData.data.rightBacks"> {{ item }}</ion-text>
        </ion-col>
      </ion-row>
      <hr class="line">
      <ion-row>
        <ion-col size="4">Középső védők:</ion-col>
        <ion-col size="8" class="ion-text-right" >
          <ion-text class="subposition" *ngFor="let item of matchData.data.centreBacks"> {{ item }}</ion-text>
        </ion-col>
      </ion-row>
      <hr class="line">
      <ion-row>
        <ion-col size="4">Bal védők/szélső védők:</ion-col>
        <ion-col size="8" class="ion-text-right" >
          <ion-text class="subposition" *ngFor="let item of matchData.data.leftBacks"> {{ item }}</ion-text>
        </ion-col>
      </ion-row>
      <hr class="line">
      <ion-row>
        <ion-col size="4">Középpályások:</ion-col>
        <ion-col size="8" class="ion-text-right" >
          <ion-text class="subposition" *ngFor="let item of matchData.data.midfielders"> {{ item }}</ion-text>
        </ion-col>
      </ion-row>
      <hr class="line">
      <ion-row>
        <ion-col size="4">Jobb támadók:</ion-col>
        <ion-col size="8" class="ion-text-right" >
          <ion-text class="subposition" *ngFor="let item of matchData.data.rightWingers"> {{ item }}</ion-text>
        </ion-col>
      </ion-row>
      <hr class="line">
      <ion-row>
        <ion-col size="4">Bal támadók:</ion-col>
        <ion-col size="8" class="ion-text-right" >
          <ion-text class="subposition" *ngFor="let item of matchData.data.leftWingers"> {{ item }}</ion-text>
        </ion-col>
      </ion-row>
      <hr class="line">
      <ion-row>
        <ion-col size="4">Csatárok:</ion-col>
        <ion-col size="8" class="ion-text-right" >
          <ion-text class="subposition" *ngFor="let item of matchData.data.strikers"> {{ item }}</ion-text>
        </ion-col>
      </ion-row>
    </ion-card>

    <ion-card class="ion-padding">
      <ion-row>
        <ion-col>
          <ion-text class="ion-margin-bottom">Jegyzet:</ion-text>
          <ion-text color="primary match__note">{{ matchData.data.note }}</ion-text>
        </ion-col>
      </ion-row>
    </ion-card>


  </ion-grid>
</ion-content>

<ion-content *ngIf="edit" class="match edit">


  <div class="container" [formGroup]="addMatchForm">

    <div class="container__input-div">
      <ion-label>Mérkőzés neve:</ion-label>
      <ion-input formControlName="name"></ion-input>
    </div>

    <div class="container__input-div">
      <ion-label>Ellenfél:</ion-label>
      <ion-input formControlName="opponent"></ion-input>
    </div>

    <div class="container__input-div">
      <ion-label>Végeredmény:</ion-label>
      <ion-input placeholder="Csapatod góljai" class="ion-margin-bottom" formControlName="yourGoals" type="number"></ion-input>
      <ion-input placeholder="Ellenfél csapat góljai" formControlName="opponentGoals" type="number"></ion-input>
    </div>

    <div class="container__input-div">
      <ion-label>Dátum:</ion-label>
      <ion-datetime placeholder="2012-12-15T13:47:20.789" formControlName="date"></ion-datetime>
    </div>

    <div class="container__input-div">
      <ion-label>Jegyzet:</ion-label>
      <ion-textarea rows="7" formControlName="note"></ion-textarea>
    </div>

    <ion-label>Kapus:</ion-label>
    <ion-select formControlName="goalkeeper" >
      <ion-select-option *ngFor="let player of everyPlayer" [value]="player.data.firstname +' '+ player.data.lastname" >{{ player.data.mainPosition | uppercase}} - {{ player.data.firstname }} {{player.data.lastname}}</ion-select-option>
    </ion-select>

    <ion-label>Jobb védők/szélső védők:</ion-label>
    <ion-select formControlName="rightBacks" multiple="true">
      <ion-select-option *ngFor="let player of everyPlayer" [value]="player.data.firstname +' '+ player.data.lastname" >{{ player.data.mainPosition | uppercase}} - {{ player.data.firstname }} {{player.data.lastname}}</ion-select-option>
    </ion-select>


    <ion-label>Bal védők/szélső védők:</ion-label>
    <ion-select formControlName="leftBacks" multiple="true">
      <ion-select-option *ngFor="let player of everyPlayer" [value]="player.data.firstname +' '+ player.data.lastname" >{{ player.data.mainPosition | uppercase}} - {{ player.data.firstname }} {{player.data.lastname}}</ion-select-option>
    </ion-select>

    <ion-label>Középső védők:</ion-label>
    <ion-select formControlName="centreBacks" multiple="true">
      <ion-select-option *ngFor="let player of everyPlayer" [value]="player.data.firstname +' '+ player.data.lastname" >{{ player.data.mainPosition | uppercase}} - {{ player.data.firstname }} {{player.data.lastname}}</ion-select-option>
    </ion-select>

    <ion-label>Középpályások:</ion-label>
    <ion-select formControlName="midfielders" multiple="true">
      <ion-select-option *ngFor="let player of everyPlayer"  [value]="player.data.firstname +' '+ player.data.lastname">{{ player.data.mainPosition | uppercase}} - {{ player.data.firstname }} {{player.data.lastname}}</ion-select-option>
    </ion-select>

    <ion-label>Jobb támadók:</ion-label>
    <ion-select formControlName="rightWingers" multiple="true">
      <ion-select-option *ngFor="let player of everyPlayer" [value]="player.data.firstname +' '+ player.data.lastname" >{{ player.data.mainPosition | uppercase}} - {{ player.data.firstname }} {{player.data.lastname}}</ion-select-option>
    </ion-select>

    <ion-label>Bal támadók:</ion-label>
    <ion-select formControlName="leftWingers" multiple="true">
      <ion-select-option *ngFor="let player of everyPlayer" [value]="player.data.firstname +' '+ player.data.lastname" >{{ player.data.mainPosition | uppercase}} - {{ player.data.firstname }} {{player.data.lastname}}</ion-select-option>
    </ion-select>

    <ion-label>Csatárok:</ion-label>
    <ion-select formControlName="strikers" multiple="true" class="my-custom-interface">
      <ion-select-option style="color: red;" *ngFor="let player of everyPlayer" [value]="player.data.firstname +' '+ player.data.lastname" [ngClass]="player.data.isInjured ? 'red' : '' ">{{ player.data.mainPosition | uppercase}} - {{ player.data.firstname }} {{player.data.lastname}}</ion-select-option>
    </ion-select>

    <ion-button (click)="editData()" expand="block" class="match edit button" color="primary">Mérkőzés szerkesztése</ion-button>

  </div>

</ion-content>



<ion-content *ngIf="!matchData">
  <ion-skeleton-text animated style="width: 100%; border-radius: 30px;" class="ion-margin-top ion-padding"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 100%; border-radius: 30px;" class="ion-margin-top ion-padding"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 100%; border-radius: 30px;" class="ion-margin-top ion-padding"></ion-skeleton-text>
</ion-content>

