<ion-header>
  <ion-toolbar>
    <ion-title>players</ion-title>
    <ion-buttons>
      <ion-buttons color="primary" slot="start">
        <ion-back-button color="light"></ion-back-button>
      </ion-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <p class="title ion-text-left">Players</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="block" color="tertiary" (click)="presentAddModal()">Add player</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-list>

        <ion-item lines="none" *ngIf="!everyPlayer">
          <ion-label>No players yet</ion-label>
        </ion-item>

        <ion-item lines="none" *ngFor="let item of everyPlayer">
          <ion-label>{{ item.data.name}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-row>
  </ion-grid>
</ion-content>
